<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <link th:href="@{css/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <link rel="stylesheet" th:href="@{css/assets/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{css/assets/css/templatemo-stand-blog.css}">

    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">

    <title>Create Account</title>
</head>

<body class="img js-fullheight" style="background-image: url(images/bg.jpg);">
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}"><h2>Affinity Blog<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about-us}">About Us</a>
                    <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Create Account</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">

                    <form action="#"
                          th:action="@{/register}"
                          th:object="${account}"
                          method="POST"
                        class="signin-form">
                        <div class="form-group">
<!--                            <input id="email" type="text" class="form-control" name="email" placeholder="Email" required />-->
                            <input id="firstname" type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" required/>
                        </div>
                        <div class="form-group">
<!--                            <input id="email" type="text" class="form-control" name="email" placeholder="Email" required />-->
                            <input id="lastname" type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" required/>
                        </div>
                        <div class="form-group">
                            <input id="email" type="email"th:field="*{email}" class="form-control" placeholder="Email" required />
                        </div>
                        <div th:if="${emailError}" class="alert alert-danger">
                            <p th:text="${emailError}"></p>
                        </div>
                        <div class="form-group">
                            <input id="password" type="password"  th:field="*{password}" class="form-control" placeholder="Password" minlength="8" required/>
<!--                            <input id="password-field" class="form-control" type="password" name="password" placeholder="Password" />-->
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Create Account</button>
                        </div>
                        <center>
                            <p class="mb-4 text-center" style="color: #fff" >Already have an account?<a th:href="@{/login}" style="color: #fff"> Login </a></p>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

<script src="/css/vendor/jquery/jquery.min.js"></script>
<script src="/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/css/assets/js/custom.js"></script>
<script src="/css/assets/js/owl.js"></script>
<script src="/css/assets/js/slick.js"></script>
<script src="/css/assets/js/isotope.js"></script>
<script src="/css/assets/js/accordions.js"></script>

</body>
</html>